header {
  width: 520px;
}

header h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 16px;
}

main {
  width: 520px;
  margin: 20px 30px 30px 30px;
}

#writing-contents {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 30px;
}

#real-writing-zone > textarea {
  font-size: 18px;
  width: 100%;
  height: 520px;
}

#check-block {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#contents-check {
  font-size: 20px;
}

#mato {
  text-align: center;
}

.mobile-and-tablet-only {
  background: none;
  font-size: 20px;
  border: 2px #8e0023 solid;
  border-radius: 20px;
  padding: 6px 15px;
  margin-top: 30px;
}

.mobile-and-tablet-only:hover {
  background: #f4f4f4;
}
