* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Serif KR", serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

#check-block > span {
  color: rgb(190, 190, 190);
}

#contents-check {
  font-weight: 600;
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: #fbdbc7;
  border: none;
  border-radius: 7px;
}

#contents-check:hover {
  opacity: 80%;
}
